#logo {
    aspect-ratio: 1/1;
    background-color: rgb(99, 9, 9);
    /* box-shadow: 0 0 25px 1px red; */
    border-radius: 100%;
    margin: 0;
    max-height: 4rem;
    padding: 1rem;
    fill: white
}