header {
    /* background-color: rgb(122, 12, 12); */
    background: linear-gradient(45deg, rgb(129, 11, 11), rgb(39, 3, 3));
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header > ul > li {
    list-style-type: none;
    margin-left: 1rem;
}

@media screen and (max-width: 500px) {
    header > ul {
        display: none;
    }
}