header {
    background-color: rgb(122, 12, 12);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header > ul > li {
    list-style-type: none;
    margin-left: 1rem;
}

header > #logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0;
}