header {
    /* background-color: rgb(122, 12, 12); */
    background: linear-gradient(45deg, rgb(129, 11, 11), rgb(39, 3, 3));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem 1rem;
}

header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    letter-spacing: 1ch;
}

header > h1 > img {
    width: 5rem;
    border-radius: 100%;
    border: 2px solid indianred;
}

header > nav > ul {
    margin: 0;
    padding: 0;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header li {
    list-style-type: none;
    color: white;
}

header a {
    text-decoration: none;
    position:relative;
}

header a::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    height: 2px;
    transform: scale(0);
    width: 100%;
    background: white;
    transition: all 250ms ease-in-out;
}

header a:hover::after {
    transform: scale(1);
}

header a:visited {
    color: white;
    text-decoration: none;
}

#hero article {
    padding: 0;
    margin: 0;
}

header #hamburger-menu {
    display: none;
}

@media screen and (max-width: 500px) {
    header > nav > ul {
        display: none;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header h1 {
        justify-content: flex-start;
    }

    header #hamburger-menu {
        margin-left: auto;
        display: block;
    }
}