#hero {
    text-align: center;
    padding: 2rem 0;
}

#hero .links, #hero h2 {
    padding: 0;
    margin: 0;
    padding: 1rem 2rem;
}

#hero .links {
    display: flex;
    font-size: .90rem;
    gap: 2rem;
}

#hero > .links > svg {
    size: .1rem;
}

article {
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

article > p {
    line-height: 2rem;
    font-size: 1.2rem;
}

.lightLink p{
    color: black;
}

.lightLink > a:visited {
    color: black;
}

.lightLink svg {
    fill: black;
}


#link:not(.lightLink) p {
    color: white;
}

#link:not(.lightLink) svg {
    fill: white;
}