#hero {
    text-align: center;
}

article {
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

article > p {
    line-height: 2rem;
    font-size: 1.2rem;
}

.lightLink p{
    color: black;
}

.lightLink > a:visited {
    color: black;
}

.lightLink svg {
    fill: black;
}

#link:not(.lightLink) p {
    color: white;
}

#link:not(.lightLink) svg {
    fill: white;
}