@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
#hero {
    color: rgb(129, 11, 11);
    font-family: 'Roboto';
    text-align: center;
}
article {
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

p {
    line-height: 2rem;
    font-size: 1.2rem;
}