@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik+Iso&family=Space+Mono:wght@400;700&display=swap');

html {
    margin: 0;
    font-family: 'Space Mono', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    min-height: calc(100vh - 1rem);
}

#root {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

@media screen and (max-width: 750px) {
    html {
        margin: 0;
        padding: 0;
    }
}